/*ALL CSS THAT HAS BEEN DELETED ON XFIN*/


/*XCS Challenge (XCSC) PAGES - box at top, only to display on certain pages */
.page-id-4240 #nosoldout {
display:none;
}
.page-id-5602 #nosoldout {
display:none;
}
.page-id-5696 #nosoldout {
display:none;
}
.page-id-5714 #nosoldout {
display:none;
}

.page-id-71 #nosoldout {
display:none;
}

.page-id-6274 #nosoldout {
display:none;
}

.page-id-6290 #nosoldout {
display:none;
}

.page-id-902 #nosoldout {
display:none;
}
.page-id-14 #nosoldout {
display:none;
}
.page-id-4328 #nosoldout {
display:none;
}
.page-id-6010 #nosoldout {
display:none;
}

.page-id-5588 #nosoldout {
display:none;
}

.page-id-4410 #nosoldout {
display:none;
}

.page-id-3822 #nosoldout {
display:none;
}

.page-id-3818 #nosoldout {
display:none;
}

.page-id-2538 #nosoldout {
display:none;
}

.page-id-5512 #nosoldout {
display:none;
}

.page-id-1972 #nosoldout {
display:none;
}

.page-id-831 #nosoldout {
display:none;
}

.page-id-1206 #nosoldout {
display:none;
}

.page-id-4528 #nosoldout {
display:none;
}

.page-id-4530 #nosoldout {
display:none;
}

.page-id-4573 #nosoldout {
display:none;
}


.page-id-4576 #nosoldout {
display:none;
}

.page-id-4579 #nosoldout {
display:none;
}

.page-id-5233 #nosoldout {
display:none;
}

.page-id-828 #nosoldout {
display:none;
}

/*JUSTIFIED TEXT IN PAGES AND POSTS*/
.entry p {
text-align:justify;
}

/*HEADER CLASS FOR PROGRAM PAGE*/
.program-headings {
text-transform: uppercase;
font-family: "Clonoid", clonoid;
}

/*Media Posse redesign - 45 degree angles - no longer being used - responsive issues */
/*CHEVRON PAGE BREAK CLASSES*/
.chevron {
-webkit-clip-path: polygon(50% 10%, 50% 10%, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%, 0 0);
clip-path: polygon(50% 10%, 50% 10%, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%, 0 0);
}

.chevron-bottom {
-webkit-clip-path: polygon(50% 0, 50% 0, 100% 0, 100% 30%, 50% 100%, 50% 100%, 0 30%, 0 0);
clip-path: polygon(50% 0, 50% 0, 100% 0, 100% 30%, 50% 100%, 50% 100%, 0 30%, 0 0);
}

.chevron-top {
-webkit-clip-path: polygon(50% 10%, 50% 10%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 0 100%, 0 0);
clip-path: polygon(50% 10%, 50% 10%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 0 100%, 0 0);
}

.chevron-quote {
-webkit-clip-path: polygon(50% 0, 50% 0, 100% 0, 100% 20%, 50% 100%, 50% 100%, 0 20%, 0 0);
clip-path: polygon(50% 0, 50% 0, 100% 0, 100% 20%, 50% 100%, 50% 100%, 0 20%, 0 0);
}

.chevron-hotel {
display:none !important;
/*-webkit-clip-path: polygon(50% 13%, 50% 13%, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%, 0 0);
clip-path: polygon(50% 13%, 50% 13%, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%, 0 0);*/
}

.chevron-signup {
-webkit-clip-path: polygon(50% 25%, 50% 25%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 0 100%, 0 0);
clip-path: polygon(50% 25%, 50% 25%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 0 100%, 0 0);
}


/*REMOVE SPACING IN REV SLIDER*/
.page-id-71 .entry ul {
padding: 0 0 0 0px !important;
}


/*BLUE HIGHLIGHT LINE TO THE RIGHT - HOME PAGE BLUE UNDERLINE SURROUNDING TRANSPARENT GRAPHICS (twitter feed, xfin s and desc, etc.)*/
.highlight-right{
border-bottom: 3px solid #029ad9;
border-right: 3px solid #029ad9;
}

/*BLUE HIGHLIGHT LINE TO THE LEFT - HOME PAGE BLUE UNDERLINE SURROUNDING TRANSPARENT GRAPHICS (twitter feed, xfin s and desc, etc.)*/
.highlight-left{
border-bottom: 3px solid #029ad9;
border-left: 3px solid #029ad9;
}




