/*XCS Challenge (XCSC) PAGES - box at top, only to display on certain pages */
.page-id-4240 #nosoldout {
display:none;
}
.page-id-5602 #nosoldout {
display:none;
}
.page-id-5696 #nosoldout {
display:none;
}
.page-id-5714 #nosoldout {
display:none;
}

.page-id-71 #nosoldout {
display:none;
}

.page-id-6274 #nosoldout {
display:none;
}

.page-id-6290 #nosoldout {
display:none;
}

.page-id-902 #nosoldout {
display:none;
}
.page-id-14 #nosoldout {
display:none;
}
.page-id-4328 #nosoldout {
display:none;
}
.page-id-6010 #nosoldout {
display:none;
}

.page-id-5588 #nosoldout {
display:none;
}

.page-id-4410 #nosoldout {
display:none;
}

.page-id-3822 #nosoldout {
display:none;
}

.page-id-3818 #nosoldout {
display:none;
}

.page-id-2538 #nosoldout {
display:none;
}

.page-id-5512 #nosoldout {
display:none;
}

.page-id-1972 #nosoldout {
display:none;
}

.page-id-831 #nosoldout {
display:none;
}

.page-id-1206 #nosoldout {
display:none;
}

.page-id-4528 #nosoldout {
display:none;
}

.page-id-4530 #nosoldout {
display:none;
}

.page-id-4573 #nosoldout {
display:none;
}


.page-id-4576 #nosoldout {
display:none;
}

.page-id-4579 #nosoldout {
display:none;
}

.page-id-5233 #nosoldout {
display:none;
}

.page-id-828 #nosoldout {
display:none;
}

/*JUSTIFIED TEXT IN PAGES AND POSTS*/
.entry p {
text-align:justify;
}





